/*CUSTOM CSS*/
/*#hero-backdrop, #hero-backdrop-spacer{}
*/
#hero-backdrop{width:100%;height:100vh;position:absolute;top:0;left:0;overflow:hidden;background:#0f0c29;/* fallback for old browsers */
background:-webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);/* Chrome 10-25, Safari 5.1-6 */
background:linear-gradient(to right, #24243e, #302b63, #0f0c29);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*#hero-backdrop-spacer{height:100%;position:absolute;top:550px;margin-bottom:-550px;background-color:#e6e6e6;z-index:0}
*/
#hero{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;height:300px;}
#hero-wrapper{height:100vh;position:relative;color:#fff }
#count-down-button-overlay{opacity:0;position:absolute;top:-40px;left:0;bottom:0;right:0;margin:auto;height:100%;width:100%;background-color:rgba(240, 173, 78, 0.9);opacity:0;transition-property:top, opacity;transition-duration:.5s, .5s;transition-delay:0s, 0s;padding:20cpx;}
#count-down-button-register span{line-height:35px;font-size:24px;}
#count-down-button-overlay:hover{opacity:1;top:0;cursor:default;}
#hero-registration-button{position:relative;overflow:hidden;}
.hero-link{cursor:pointer;}
.main-content{position:relative;padding-left:15px;padding-right:15px;margin:25px 0}
.bg-navy{background-color:#00297a;color:#fff}
.text-green{color:#11c43c}
.text-red{color:#c9302c;}
.hero-action-btn{padding:1px;overflow:hidden;}
.hero-action-btn h4{font-size:16px;}
#subhero-wrapper{padding-right:45px;margin-left:15px;}
#subhero-wrapper .active{color:#fff;background-color:#5cb85c;border-color:#4cae4c;}
#subhero-wrapper .pending{color:#fff;background-color:#f0ad4e;border-color:#eea236;}
#subhero-wrapper .closed{color:#fff;background-color:#BD0B0B;border-color:#BD0B0B;}
#subhero-wrapper .hero-link.active:hover{color:#fff;background-color:#449d44;border-color:#398439;}
#subhero-wrapper .hero-link.pending:hover{color:#fff;background-color:#ec971f;border-color:#d58512;}
#subhero-wrapper .hero-link.closed:hover{color:#fff;background-color:#c9302c;border-color:#ac2925;}
#countdown-wrapper{margin:25px 0 40px;}
#countdown-wrapper span{font-size:40px;padding:10px}
.section-separator{margin-bottom:25px;margin-top:25px;height:1px;opacity:.2}
svg#Layer_1{visibility:hidden;}
svg#Layer_1 path{fill:transparent;transition:fill .4s ease;}
/*BOOTSTRAP OVERRIDES*/
body{position:relative;font-family:serif;}
.navbar{border-radius:0;margin-bottom:0}
@media (min-width: 768px){
    .navbar.navbar-default .navbar-nav>li>a, .navbar.navbar-default .navbar-nav>li>span {
        padding-top: 25px;padding-bottom: 25px;
    }
}
.navbar-nav>li>span {line-height:20px;display: block;}
.navbar-default{background-color:#0C0837;border-bottom:1px solid #03001B;border-top:none;border-left:none;border-right:none;color:#fff;font-size: 16px;}
.navbar-default .navbar-nav>li>a{text-transform:uppercase;}
.navbar-brand{font-size:28px;font-weight:bold;padding:15px 10px;}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:active:link:visited{color:#fff}
.navbar-default .navbar-nav>li>a:hover{color:#C0BB73}
.navbar-default .navbar-header{white-space:nowrap;position:relative;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{color:#C0BB73;}
.nav>li>a:focus, .nav>li>a:hover{background-color:transparent;color:#fff}
body.navbar-fixed .navbar-default{position:fixed;top:0;width:100%;z-index:999;}
body.navbar-fixed{padding-top:71px}
.btn-primary{background-color:#C0BB73;border-color:#0E9C30;}
.btn-primary:hover{background-color:#41a62a;border-color:#0E9C30;}
.btn-primary.active,.btn-primary:active,.btn-primary.focus,.btn-primary:focus{background-color:#1C6B0A!important;border-color:#0E9C30;}
.btn-danger{background-color:#BD0B0B;border-color:#BD0B0B;}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{background-color:#C0BB73;border-color:#C0BB73;}
#main-content > .row:not(:first-child){padding-bottom:15px;}
#main-content > .row:not(:last-child):not(:first-child)::after{opacity:.2;margin-bottom:50px;content:'';height:1px;background-color:#00297a;margin-left:15px;margin-right:15px;display:block;position:relative;top:25px;}
/*bxslider*/
ul.bxslider{padding-left:0}
.bxslider li{position:relative;}
.bx-wrapper:before,.bx-wrapper:after{font-size:50px;position:absolute;}
.bx-wrapper:before{content:open-quote;top:0;left:15px}
.bx-wrapper:after{content:close-quote;bottom:-25px;right:15px }
.bxslider p{font-size:22px;text-align:center;line-height:40px}
.bxslider p.small{font-size:15px;text-align:right;padding-right:40px}
/*BootStrap Size Overrides*/
@media (min-width:1200px){.container{width:960px;}
}
@media (min-width:992px){.container{width:960px;}
}
@media (max-width:480px){nav.navbar-fixed-top .navbar-header small{display:none;}
#countdown-wrapper span{font-size:22px;}
}
.color-trail-container{width:100%;font-size:0px;line-height:0px;position:absolute;height:100vh;overflow:hidden;}
.color-trail{display:inline-block;background:transparent;width:5vw;height:9vh;}
.color-on{background-color:#C0BB73;}
.color-off{animation-name:coloroff;animation-duration:2s;}
@keyframes coloroff{0%{background-color:#C0BB73;}
 100%{background-color:transparent;}
}
#scroll-down-link{position:absolute;left:0;right:0;bottom:25px;color:white;font-size:30px;width:35px;margin:auto;}
footer{background:#DAD299;background:-webkit-linear-gradient(to top, #B0DAB9, #DAD299);background:linear-gradient(to top, #B0DAB9, #DAD299);color:#0C0837;}
footer a{color:#0C0837}
footer div.container{height:400px;position:relative;}
footer div.container::after{content:"";background-image:url('/images/footer-background-black.png');background-position:center bottom;background-repeat:no-repeat;background-size:contain;position:absolute;opacity:0.5;left:0;bottom:0;right:0;width:100%;height:360px;}